body{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.container{
	width: 25%;
	margin:auto;
	margin-top: 100px;
	size: 100px;
}
.text{
	color: #fff;
	letter-spacing: 1px;
	margin:10px;
	font-size: 200px;
}

.title{
	text-transform: capitalize;
	font-size: 120px;
	font-family: 'Pacifico', cursive;
	margin-left:-110px;
	border:solid 1px #a49999;
	padding-top: 200px;
	text-align: center;
	border: #dddfe2;
	size: 1000px;

}


.box{
	border:solid 1px #a49999;
	border: #dddfe2;
	margin: -115px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-control
{
	width: 690px;
	height: 100px;
	font-size: 35px;
	display: block;
	margin-bottom: 35px;
	margin-top: 40px;
	border-width: 4px;
	border-color: black;
	background: none;
	margin-left: -177px;
	border-radius: 15px;
}

.btn-primary
{
	width: 700px;
	height: 90px;
	border: 0;
	margin-left: -173px;
	color: #fff;
	background: #0195F7;
	margin-top: 100px;
	border-radius: 10px;
	font-size: 60px;
}

.login{
	width: 550px;
	height: 120px;
	border: 0;
	margin-left: -180px;
	color: #fff;
	background-color: #0195F7;
	padding-top: 10px;	
	size: 100px;
}
form .option{
	color: #5a5a5a;
	margin: 0px 0;
	font-weight: bold;
	position: relative;
	font-size: 100px;
}
.or:before{
	position: absolute;
	content: '';
	width: 300px;
	height: 4px;
	background: #b6b6b6;
	left: 162px;
	margin-top: 30px;
	transform: translateY(-50%);
	border-radius: 50px;
}
.or:after{
	position: absolute;
	content: '';
	width: 300px;
	height: 4px;
	background: #b6b6b6;
	right: 104px;
	margin-top: -30px;
	transform: translateY(-50%);
	border-radius: 50px;
}
.wrapper a{
	color: #1E8DD5;
	font-size: 40px;
	margin-left: 80px;
	padding-top: 10px;

}
.or{
	font-size: 50px;
	padding-left: 27px;

}

.my-button{
	text-align: center;
	margin-top: 33px;
	margin-left: -293px;
	width: 300 px;
	font-size: 64px;
	background-color: #0195F7;
	color: #fff;
	border-radius: 13px;
}

.link a{
	color: #1E8DD5;
	font-style: bold;
	margin-left: 200px;
	padding-bottom: -4px;

}
p {
	margin: -18px;
	margin-top: 5px;

}
.hztqj{
	margin-top: 20px;
	font-size: 30px;
	border-width: 3px;
}
.option{
	font-size: 45px;
	margin-top: 90px;
	margin-left: 244px;
}
.option a{
	color: #1E8DD5;
	
}
.line2{
	width: 1000px;
	height: 2px;
	background: #b6b6b6;
	display: flex;
	font-size: 100px;
	margin-top: 150px;
}
.image{
	box-sizing: 150px;
	margin-left: 230px;
	margin-top: -40px;
	margin-bottom: 40px;
	
}